body{
  background: #f9fcff;
}


.head-container{
  text-align: center;
  font-size: 1.5rem;
  color: #0050ff;

}

.dictionary-buttons-container{
  text-align: center;
}

.btn{
  margin: 1vw;
  width: 15vw;
  height: 3vw;
  background: #0050ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 0px 5px #0050ff;
}

.btn:hover{
  background: lightgreen;
  color: black;
}

.input-container{
text-align: center;
margin-top: 2vw;
}

.inputform{
  width: 60vw;
  height: 5vw;
  font-size: 1.5rem;
}

.outputform{
  width: 60vw;
  height: 5vw;
  font-size: 1.5rem;
  color: white;
  background: black;
}

.output-label{
  color: #0050ff;
}

.input-label{
  color: #0050ff;
}
